*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:linear-gradient(135deg,#4e73df,#1cc88a);
    min-height:100vh;
}

/* ===== NAVBAR ===== */
.navbar{
    height:65px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:22px;
    font-weight:bold;
    color:#4e73df;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:#333;
    font-weight:500;
    transition:0.3s;
}

.nav-links a:hover{
    color:#4e73df;
}

.btn-nav{
    background:#4e73df;
    color:white !important;
    padding:7px 14px;
    border-radius:6px;
}

.menu-toggle{
    display:none;
    font-size:26px;
    cursor:pointer;
}
@media(max-width:768px){
    .nav-links{
        position:absolute;
        top:65px;
        right:-100%;
        flex-direction:column;
        background:white;
        width:200px;
        padding:20px;
        box-shadow:0 5px 15px rgba(0,0,0,0.2);
        transition:0.3s;
    }
    .nav-links.active{
        right:0;
    }
    .menu-toggle{
        display:block;
    }
    .main-container{
        flex-direction:column;
    }
}

/* ===== MAIN ===== */
.main-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    padding:60px 20px;
    flex-wrap:wrap;
}


